.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.7);
    z-index: 100;
    transform: scale(0);
    transition: transform 0.3s ease-out;
}

.modal-content {
    background: #000;
    margin: 5% auto;
    width: 70%;
    height: 80%;
    overflow-y: auto;
    padding: 20px;
}

.modal-show {
    transform: scale(1);
}        

.film-card {
    width: 200px;
    height: 300px;
    transition: transform 0.3s ease, border-radius 0.3s ease;
    border-radius: 4px;
}

.film-card:hover {
    transform: scale(1.15);
    border-radius: 25px;
}

.dropdown {
    position: relative;
    display: inline-block; /* This makes sure the dropdown doesn't take full width */
}

.dropdown-content {
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black; /* Change this as needed to fit your theme */
    padding: 12px 16px;
    text-decoration: none;
    display: block; /* This will ensure each link appears on a new line */
}

.dropdown-content a:hover {
    background-color: #ddd; /* Change this as needed to fit your theme */
}

.dropdown:hover .dropdown-content {
    display: block; /* Show dropdown content on hover */
}
